body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.person {
    border: 1px solid black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    margin: 4px;
    padding: 4px;
}
.personLabel{
    font-weight: bold;
}