doctype 5
html(ng-app='ngApp')
    head
        title= title
        link(rel='stylesheet', href='/style/style.css')
    body
        div(ng-view)
        script(src='/js/libs/angular.js')
        script(src='/js/app.js')
        script(src="/js/controllers/SampleDirectiveController.js")
        script(src="/js/controllers/PersonListController.js")
        script(src="/js/directives/mySample.js")
        script(src="/js/directives/person.js")
