<div ng-repeat="person in persons">
    <person person="person"/>
</div>
<div ng-repeat="person in persons">
    <upvote up-vote="upVote(person)" down-vote="downVote(person)" count="person.upVoteCount"/>
</div>

<br/>
<div class="row">
    <label>Data:</label>
    <input type="text" ng-model="startData" date-keys>
</div>

<div class="row">
    URL: <input type="text" ng-model="urlImg"> {{ urlImg }}
    <image-loader url="{{ urlImg }}"/>
</div>

<div ng-repeat="person in persons">
    <div collapsible title="{{ person.lastName }}">
        <div>{{ person.firstName }}</div>
        <div>{{ person.bio }}</div>
    </div>
</div>

<input date-picker>